{% extends "antares/foundation::layouts.antares.index" %}
{% block content %}    
    <br/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ trans('Backup Summary') }}
                    </div>
                    <div class="panel-body">
                        {% if backup|length>0 %}
                            <ul class="list-group">
                                {% for item in backup %}
                                    {% if item|length>0 %}
                                        <li class="list-group-item">
                                            {{ loop.index }}. {{ item|raw }}
                                        </li>
                                    {% endif %}
                                {% endfor %}                    
                            </ul>
                        {% endif %}
                    </div>        
                </div> 
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        {{ trans('Migration Summary') }}
                    </div>
                    <div class="panel-body">
                        {% if migration|length>0 %}
                            <ul class="list-group">
                                {% for item in migration %}
                                    {% if item|length>0 %}
                                        <li class="list-group-item">
                                            {{ loop.index }}. {{ item|raw }}
                                        </li>
                                    {% endif %}
                                {% endfor %} 
                            </ul>
                        {% endif %}
                    </div>        
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        {{ trans('Files Migration Summary') }}
                    </div>
                    <div class="panel-body">
                        {% if files|length>0 %}
                            <ul class="list-group">
                                {% for item in files %}
                                    {% if item|length>0 %}
                                        <li class="list-group-item">
                                            {{ loop.index }}. {{ item|raw }}
                                        </li>
                                    {% endif %}
                                {% endfor %}                    
                            </ul>
                        {% endif %}
                    </div>        
                </div> 
            </div>
            <div class="col-md-6">

            </div>
        </div>


    </div>
{% endblock %}
