<div class="jumbotron">
    <h1>{{ version }}</h1>    
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% if description is defined and description is not empty %}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a class="collapsed"  role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ trans('Description') }}
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {{ description|raw }}
                </div>
            </div>
        </div>
    {% endif %}    
    {% if changelog is defined and changelog is not empty %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{ trans('ChangeLog') }}
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    {{ changelog|raw }}
                </div>
            </div>
        </div>
    {% endif %}   
</div>    


