<div class="row col-md-12" style="margin-top: 20px;">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ trans('Brief Info') }}                                        
                </h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ trans('PHP Version') }}</td>
                            <td>{{ version }}</td>
                        </tr>
                        <tr>
                            <td>{{ trans('System') }}</td>
                            <td>{{ os }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">                            
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Possible Issues</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lack of PDO support.</td>
                        </tr>
                        <tr>
                            <td>Old server build.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row col-md-12">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ trans('Server Info') }}
                </h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{ trans('Document Root') }}
                            </td>
                            <td>
                                {{ docRoot }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ trans('Registered PHP Streams') }}
                            </td>
                            <td>
                                {{ streams }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ trans('Registered Stream Socket Transports') }}
                            </td>
                            <td>
                                {{ streams }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {{ trans('Registered Stream Filters') }}
                            </td>
                            <td>
                                {{ filters }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>