{% extends "antares/foundation::layouts.installer.main" %}
{% block left_panel_content %}        
    {{ parent() }}
    {% include 'antares/installer::partials._menu' with {'active': 6} %}
{% endblock %}
{% block content %}           
    <div class="card card--chart-small card--primary-light">
        <div class="card__header">
            <div class="card__header--top">
                <span>Done</span>
            </div> 
        </div>
        <div class="card__header-chart" >
            <span class="card__indicator">
                {{ trans('Installation failed') }} :(
            </span>
        </div>
        <div class="card__content"> 
            <div class="alert alert--bg alert--glow alert--error alert--lg alert--border mb20">
                <i class="alert__icon zmdi zmdi-alert-circle"></i>
                <div>
                    <span>Platform has not been installed.</span>

                    {% if(additionalMessage) %}
                        <br>
                        <br>
                    {{ additionalMessage }}
                    {% endif %}

                    <br/>
                    <br/>
                    <br/>
                    <a href="{{ handles('antares/foundation::install') }}" class="btn btn--s-extra-large btn--red mdl-button mdl-js-button mdl-js-ripple-effect" >
                        {{ trans('Again') }} <i class="zmdi zmdi-refresh"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>     
{% endblock %}  