<fieldset class="inputs">               
    <legend>{{ fieldsets[0].legend|raw }} </legend>
    <div class="form-block">
        {% set control=fieldsets[0].field('type') %}
        <div class="col-16 mb2">
            {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
        </div>
        <div class="col-16">
            <div class="input-field">
                {{ control.getField(row, control, [])|raw }}
            </div>
        </div>
        <span class="error col-dt-14  col-13  col-mb-11 ">
            {{ errors.first(control.name, format)|raw }}
        </span>
    </div>                         
    {% if fieldsets[0].has('category') %}
        <div class="form-block">
            {% set control=fieldsets[0].field('category') %}
            <div class="col-16 mb2">
                {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
            </div>
            <div class="col-16">
                <div class="input-field">
                    {{ control.getField(row, control, [])|raw }}
                </div>
            </div>
            <span class="error col-dt-14  col-13  col-mb-11 ">
                {{ errors.first(control.name, format)|raw }}
            </span>
        </div>
    {% endif %}
    {% if fieldsets[0].has('active') %}
        <div class="form-block">
            {% set control=fieldsets[0].field('active') %}
            <div class="col-16 mb2">
                <label class="form-block__name">
                    <div class="input-field input-field--short">
                        {{ control.getField(row, control, [])|raw }}
                    </div>
                    <span>{{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}</span>

                    <span id="{{ control.id }}_error"
                          class="error col-dt-14  col-13  col-mb-11 ">
                        {{ errors.first(control.name, format)|raw }}
                    </span>
                </label>
            </div>
        </div>
    {% endif %}               
</fieldset>