<div class="ddown ddown--filter-edit ddown--left mr24 ddown__shorty ">
    <div class = "card-filter__sgl ddown__init datatables-card-filter" column="{{ column }}" data-classname="{{classname|raw}}">
        <span>{{ name|raw }}</span>
        {% if name|length>0 %}
            <i class="zmdi zmdi-close" data-url="{{ handles('antares/foundation::datatables/filters/delete') }}"></i>
        {% endif %}
    </div>
    <div class="ddown__content ">
        <div class="ddown__arrow "></div>
        <ul class="ddown__menu ddown__menu--innerpadd">
            <li class="ddown__label ">
                <span>Filter By</span>
            </li>
            {{ subview|raw }}                                  
        </ul>
    </div>
</div>