<fieldset name="inputs">
    <legend>{{ trans('antares/foundation::install.system.title') }}</legend>
    <div class="col-group">                
        {% for name,requirement in checklist %}
            <div class="form-block" >                
                <div class="col-dt-2 col-2 col-mb-2">
                    {{ Form.label(name, trans("antares/foundation::install.system."~name~".name"),{'class':'form-block__name'})|raw }}    
                </div>
                <div class="col-dt-6 col-6 col-mb-6">
                    <div class="input-field ">                
                        <i class="zmdi zmdi-hc-2x zmdi-check" ></i>
                        {% if name=='version' %}
                            {{ requirement['data']['version'] }}
                        {% endif %}
                    </div> 
                </div>               

            </div>
            <div class="form-block  form-block-desc" >
                <div class="col-dt-14 col-14 col-mb-14">
                    <div class="input-field__desc">
                        {% if not requirement['is'] == requirement['should'] %}                        
                            <strong>
                                {{ trans("antares/foundation::install.solution") }}:
                            </strong>
                            {{ trans("antares/foundation::install.system."~name~".solution") }}
                        {% endif %}  
                        {% if requirement['is'] == requirement['should'] %}                                                                                 
                            {% if name=='version' %}

                            {% elseif name == 'phpExtensions' %}                                                 
                                <p>
                                    {{ trans('Following php extensions are installed') }}:
                                    <br/>
                                    {{ requirement['data']['extensions']|join(', ')|raw }}   
                                </p>
                            {% elseif name=='apacheModules' %}
                                <p>
                                    {{ trans('Following apache modules are installed') }}:
                                    <br/>
                                    {{ requirement['data']['modules']|join(', ')|raw }}                                        
                                </p>
                            {% endif %}
                        {% else %}
                            {% if requirement['explicit']==true %}
                                {% if name=='version' %}
                                    {{ requirement['data']['error'] }}         
                                {% elseif name == 'phpExtensions' %}                                                 
                                    {{ requirement['data']['error'] }}         
                                {% elseif name=='apacheModules' %}
                                    {{ requirement['data']['error'] }}         
                                {% else %}
                                    {{ trans('antares/foundation::install.status.not') }}
                                {% endif %}                            
                            {% else %}
                                {% if name=='version' %}
                                    {{ requirement['data']['error'] }}         
                                {% elseif name == 'phpExtensions' %}                                                 
                                    {{ requirement['data']['error'] }}         
                                {% elseif name=='apacheModules' %}
                                    {{ requirement['data']['error'] }}         
                                {% else %}
                                    {{ trans('antares/foundation::install.status.not') }}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>     
        {% endfor %}
    </div>
</fieldset>
