<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ current.name }} <span class="flag-icon flag-icon-{{ current.code=='en'?'us':current.code }}"></span>
        {% if languages is not empty %}
            <span class="caret"></span>
        {% endif %}
    </button>
    {% if languages|length>0 %}
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">            
            {% for language in languages %}
                <li>
                    <a href="{{ handles('antares::translations/languages/change/'~language.code) }}">
                        {{ language.name }} <span class="flag-icon flag-icon-{{ language.code=='en'?'us':language.code }}"></span>  
                    </a>
                </li>
            {% endfor %}            
        </ul>
    {% endif %}
</div>