<div class="col-3">
    {% set formbuilder=app('form') %}
    {% set htmlbuilder=app('html') %}
    {% set class='form-inline' %}
    {{ formbuilder.open(form|merge({'class':class}))|raw }}
    {% if token is not null %}
        {{ formbuilder.token()|raw }}
    {% endif %}    
    {% for hidden in hiddens %}
        {{ hidden|raw }}
    {% endfor %}
    <div class="col-group">
        {% set control=fieldsets[0].field('code') %}       
        <div class="col-16">
            <div class="form-block">
                {{ Form.label(control.name, control.label)|raw }}
                {{ control.getField(row, control, [],{'class':'w100'})|raw }}
                {% if errors.has(control.name) %}
                    <div class="input-field__desc">
                        {{ errors.first(control.name, format)|raw }}
                    </div>
                {% endif %}
                <div id="{{ control.id }}_error" class="input-field__desc">
                    {{ errors.first(control.name, format)|raw }}
                </div>                          
            </div>
        </div>
        {% set control=fieldsets[0].field('name') %}       
        <div class="col-16">
            <div class="form-block">
                {{ Form.label(control.name, control.label)|raw }}
                {{ control.getField(row, control, [],{'class':'w100'})|raw }}
                {% if errors.has(control.name) %}
                    <div class="input-field__desc">
                        {{ errors.first(control.name, format)|raw }}
                    </div>
                {% endif %}
                <div id="{{ control.id }}_error" class="input-field__desc">
                    {{ errors.first(control.name, format)|raw }}
                </div>                          
            </div>
        </div>
        <div class="col-16">
            <a href="#" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect btn-language-cancel">
                Cancel
            </a>
            <button type="submit" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
                {{ submit|raw }}
            </button>
        </div>
    </div>
    {{ formbuilder.close()|raw }}
</div>  