{% set formbuilder=app('form') %}
{{ formbuilder.open({'url':handles('antares::install/create'), 'method':'POST'})|raw }}
{% if token is not null %}
    {{ formbuilder.token()|raw }}
{% endif %}    
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
<div class="card card--chart-small card--primary-light">
    <div class="card__header">
        <div class="card__header--top">
            <span>Administrator Account</span>
        </div> 
    </div>
    <div class="card__header-chart" >
        <span class="card__indicator">
            Please fill below form to create administrator
        </span>
    </div>
    <div class="card__content"> 
        <fieldset>
            <legend>{{ trans('antares/foundation::install.steps.account') }}</legend>
            <div class="col-group">
                <div class="form-block">
                    <div class="col-16">
                        {{ app('form').label('email', trans('antares/foundation::label.users.email'),{'class':'form-block__name'})|raw }}            
                    </div>
                    <div class="col-16">
                        <div class="input-field">
                            {{ app('form').input('email', 'email', '', {'class' : 'w470'})|raw }}                            
                        </div>
                        <span id="{{ control.id }}-error" class="error col-16">
                            {{ errors.first('email', ':message')|raw }}
                        </span>
                        {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}
                    </div>
                </div>
            </div>    
            <div class="col-group">
                <div class="form-block">
                    <div class="col-16">
                        {{ app('form').label('password', trans('antares/foundation::label.users.password'),{'class':'form-block__name'})|raw }}
                    </div>
                    <div class="col-16">
                        <div class="input-field">                        
                            {{ app('form').input('password', 'password', '', {'required' : true,'class' : 'w470'})|raw }}
                        </div>
                        <span id="{{ control.id }}-error" class="error col-16">
                            {{ errors.first('password', ':message')|raw }}
                        </span>
                        {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}
                    </div>
                </div>
            </div>
            <div class="col-group">
                <div class="form-block">
                    <div class="col-16">
                        {{ app('form').label('firstname', trans('antares/foundation::label.users.firstname'),{'class':'form-block__name'})|raw }}            
                    </div>
                    <div class="col-16">
                        <div class="input-field">
                            {{ app('form').input('text', 'firstname', 'John', {'required' : true,'class' : 'w470'})|raw }}                    
                        </div>
                        <span id="{{ control.id }}-error" class="error col-16">
                            {{ errors.first('firstname', ':message')|raw }}
                        </span>
                        {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}
                    </div>
                </div>
            </div>
            <div class="col-group">
                <div class="form-block">
                    <div class="col-16">
                        {{ app('form').label('lastname', trans('antares/foundation::label.users.lastname'),{'class':'form-block__name'})|raw }}            
                    </div>
                    <div class="col-16">
                        <div class="input-field">
                            {{ app('form').input('text', 'lastname', 'Doe', {'required' : true,'class' : 'w470'})|raw }}                    
                        </div>
                        <span id="{{ control.id }}-error" class="error col-16">
                            {{ errors.first('lastname', ':message')|raw }}
                        </span>
                        {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ trans('antares/foundation::install.steps.application') }}</legend>
            <div class="col-group">
                <div class="form-block">
                    <div class="col-16">
                        {{ app('form').label('site_name', trans('antares/foundation::label.name'),{'class':'form-block__name'})|raw }}                
                    </div>
                    <div class="col-16">
                        <div class="input-field">
                            {{ app('form').input('text', 'site_name', siteName, {'required' : true,'class' : 'w470'})|raw }} 
                        </div>
                        <span id="{{ control.id }}-error" class="error col-16">
                            {{ errors.first('email', ':message')|raw }}
                        </span>
                        {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>            
<div class="app-content__footer">
    <div class="btn-group">
        <button type="submit" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
            {{ trans('Next') }} <i class="pl8 zmdi zmdi-long-arrow-right"></i>
        </button>
    </div>
</div>
{{ formbuilder.close()|raw }}

