<div class="type--label">
    <div class="datarow__left ff-cw contains-id">
        <span>#{{ id }}, {{ name|raw }}, {{ label|raw }}</span>
    </div>
    <div class="datarow__right">
        <span>{{ type_name }} {{ type }}</span>        
    </div>
</div>