{% extends "antares/foundation::layouts.antares.index" %}
{% block content %}  
    <div class="card card--padding24">
        <div class="card__header">
            <div class="card__header-left">
                <span>Activity Log Details</span>
            </div>
            <div class="card__header-right">
            </div>
        </div>
        <div class="card__content">
            <div class="col-group">
                <div class="col-8">
                    <div class="card card--chart-small card--primary-light">
                        <div class="card__header">
                            <div class="card__header--top">
                                <span>{{ trans('Action Properties') }}</span>
                            </div>                               
                        </div>
                        <div class="card__content">                                
                            <ul class="datarow">
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Id') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.owner_id }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Operation') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.name }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Type') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.type }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Url') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data">
                                            {{ data.route }}
                                        </span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Ip Address') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.address }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('User agent') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.user_agent }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Created At') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.created_at }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Updated At') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.updated_at }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Elapsed time') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.elapsed_time }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Priority') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.priority.name }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('User Id') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.user.id }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Email') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.user.email }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Fullname') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.user.fullname }}</strong></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
                <div class="col-8">
                    <div class="card card--chart-small card--primary-light">
                        <div class="card__header">
                            <div class="card__header--top">
                                <span>{{ trans('Custom Fields And Messages') }}</span>
                            </div>                               
                        </div>
                        <div class="card__content">                                
                            <ul class="datarow">
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Custom Message') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data"><strong>{{ data.custom_message }}</strong></span>
                                    </div>
                                </li>
                                <li class="datarow__sgl">
                                    <div class="datarow__left">
                                        <span class="datarow__status">{{ trans('Custom Fields') }}</span>
                                    </div>
                                    <div class="datarow__right">
                                        <span class="datarow__data">
                                            {% if data.custom_fields|length>0 %}

                                            {% else %}
                                                <div class="alert alert--xs alert--glow alert--info alert--lg alert--border">                            
                                                    <i class="zmdi zmdi-info-outline"></i>
                                                    <span>
                                                        {{ trans('No custom fields found...') }}
                                                    </span>
                                                </div>  
                                            {% endif %}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
                <div class="col-8">
                    <div class="card card--chart-small card--primary-light">
                        <div class="card__header">
                            <div class="card__header--top">
                                <span>{{ trans('Change History') }}</span>
                            </div>                               
                        </div>
                        <div class="card__content">                                
                            <ul class="datarow">
                                <li class="datarow__sgl ff-cw">
                                    <div class="datarow__left col-2">
                                        <span class="datarow__status"><strong>{{ trans('Old Value')|upper|raw }}</strong></span>
                                    </div>
                                    <div class="datarow__right col-14">
                                        <span class="datarow__data">
                                            {% if data.old_value is null %}
                                                <div class="alert alert--xs alert--glow alert--info alert--lg alert--border">                            
                                                    <i class="zmdi zmdi-info-outline"></i>
                                                    <span>
                                                        {{ trans('no changes...') }}
                                                    </span>
                                                </div>  
                                            {% else %}
                                                <ul class="datarow">                                                                 
                                                    {% for name,value in data.old_value %}
                                                        <li class="datarow__sgl">                                                            
                                                            {{ name|str_humanize }}: {{ value|serializable|jsonable }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>

                                            {% endif %}
                                        </span>
                                    </div>
                                </li>                                    
                                <li class="datarow__sgl ff-cw mt32">
                                    <div class="datarow__left col-2">
                                        <span class="datarow__status"><strong>{{ trans('New Value')|upper|raw }}</strong></span>
                                    </div>
                                    <div class="datarow__right col-14">
                                        <span class="datarow__data">
                                            {% if data.new_value is null %}
                                                <div class="alert alert--xs alert--glow alert--info alert--lg alert--border">                            
                                                    <i class="zmdi zmdi-info-outline"></i>
                                                    <span>
                                                        {{ trans('no changes...') }}
                                                    </span>
                                                </div>  
                                            {% else %}
                                                <ul class="datarow">                                                        
                                                    {% for name,value in data.new_value %}
                                                        <li class="datarow__sgl">
                                                            {{ name|str_humanize }}: {{ value|serializable|jsonable }}
                                                        </li>
                                                    {% endfor %}
                                                </ul>                                                    
                                            {% endif %}    
                                        </span>
                                    </div>
                                </li>   
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>


{% endblock %}


