<section class="generals-form">
    {{ Form.open(form)|raw }}
    {% if(token) %}
        {{ Form.token() }}
    {% endif %}
    {% for hidden in hiddens %}
        {{ hidden|raw }}
    {% endfor %}
    <div class="col-group">
        <div class="col-dt-8">
            {% include 'antares/notifications::admin.partials._form_params' %}
        </div>
        <div class="col-dt-16">            
            {% for fieldset in fieldsets %}
                {% if loop.index0>0 %}
                    <fieldset class="inputs">
                        <legend>{{ fieldset.legend|raw }}</legend>
                        <div class="form-block">
                            {% set control=fieldset.field('title') %}
                            <div class="col-16 mb2">
                                {{ Form.label(control.name, control.label,{'class':'form-block__name'})|raw }}
                            </div>
                            <div class="col-8">
                                <div class="input-field">
                                    {{ control.getField(row, control, [])|raw }}
                                </div>
                            </div>
                            <span class="error col-dt-14  col-13  col-mb-11 ">
                                {{ errors.first(control.name, format)|raw }}
                            </span>
                        </div>      
                        {% set control=fieldset.field('content') %}
                        {% if sms %}
                            {% include 'antares/notifications::admin.partials._sms' %}
                        {% elseif rich %}
                            {% include 'antares/notifications::admin.partials._rich' %}
                        {% endif %}
                    </fieldset>
                {% endif %}
            {% endfor %}            
        </div>        
    </div>
    <div class="app-content__footer">
        <div class="btn-group">
            {% set customs=fieldsets[0].types('custom') %}
            {% for custom in customs %}
                {{ custom.getField(row, custom, custom.attributes)|raw }}
            {% endfor %}
            {% set buttons=fieldsets[0].types('button') %}
            {% for button in buttons %}
                {{ button.getField(row, button, button.attributes)|raw }}
            {% endfor %}
        </div>
    </div>
    {{ Form.close()|raw }}
</section>