{% extends "antares/foundation::layouts.installer.main" %}
{% block left_panel_content %}        
    {{ parent() }}
    {% include 'antares/installer::partials._menu' with {'active': 5} %}
{% endblock %}
{% block content %}
    <div class="col-group">
        <div class="col-16">
            <h1>{{ trans('Installation failed') }} :(</h1>
        </div>
        <div class="col-16">
            <span>{{ trans('Platform has not been installed.') }}</span>

            {% if(additionalMessage) %}
                <br>
                <br>
                {{ additionalMessage }}
            {% endif %}

            <br/>
            <br/>
            <br/>

            <a href="{{ handles('antares/foundation::install') }}" class="btn btn--red mdl-button mdl-js-button mdl-js-ripple-effect" >
                {{ trans('Again') }} <i class="zmdi zmdi-refresh"></i>
            </a>
        </div>
    </div>
{% endblock %}