<div class="col-16">
    {% for level,item in percents %}    
        <div class="col-group">
            <div class="col-6">
                <span class="level level-{{ level }}">
                    {{ log_styler().icon(level)|raw }}   {{ item.name }} - {{ item.percent }} %
                </span>
            </div>
            <div class="col-10">
                <div class="progress">
                    <div class="progress-bar level-{{ level }}" role="progressbar" aria-valuenow="{{ item['percent'] }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ item['percent'] }}%">
                        {{ item['count'] }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% include 'antares/logger::admin.index.style' %}            