<ul class="datarow" data-scrollable>
    <li class="datarow__sgl datarow__sgl--down">
        <div class="datarow__left">
            <span class="datarow__status">{{ trans('File path') }}:</span>
        </div>
        <div class="datarow__right">
            <span class="datarow__data"><strong>{{ log.getPath() }}</strong></span>
        </div>
    </li>
    <li class="datarow__sgl datarow__sgl--down">
        <div class="datarow__left">
            <span class="datarow__status">{{ trans('Log entries') }}:</span>
        </div>
        <div class="datarow__right">
            <span class="datarow__data"><strong>{{ entries.count() }}</strong></span>
        </div>
    </li>
    <li class="datarow__sgl datarow__sgl--down">
        <div class="datarow__left">
            <span class="datarow__status">{{ trans('Size') }}:</span>
        </div>
        <div class="datarow__right">
            <span class="datarow__data"><strong>{{ log.size() }}</strong></span>
        </div>
    </li>
    <li class="datarow__sgl datarow__sgl--down">
        <div class="datarow__left">
            <span class="datarow__status">{{ trans('Created at') }}:</span>
        </div>
        <div class="datarow__right">
            <span class="datarow__data"><strong>{{ log.createdAt() }}</strong></span>
        </div>
    </li>
    <li class="datarow__sgl datarow__sgl--down">
        <div class="datarow__left">
            <span class="datarow__status">{{ trans('Updated at') }}:</span>
        </div>
        <div class="datarow__right">
            <span class="datarow__data"><strong>{{ log.updatedAt() }}</strong></span>
        </div>
    </li>
</ul>