<div class="card card--detail-info card--dark">
    <div class="card__header">
        <div class="card__header--top">
            <div class="avatar avatar--active">                
                <img width="40" height="40" class="gravatar" src="{{ profile_picture(user.email) }}" alt="{{ user.fullname }}" />
            </div>
            <div class="client-name">
                <span>{{ user.fullname }}</span>
                {% if user.status %}
                    <span class="label-basic label-basic--success">ACTIVE</span>
                {% else %}
                    <span class="label-basic label-basic--danger">ARCHIVED</span>
                {% endif %}
            </div>
        </div>
        <div class="card__header--bottom">
            <section class="list list--md list--icons">
                <ul>
                    <li>
                        <i class="zmdi zmdi-case-check"></i> 
                        <span>
                            Last login <span>9 days ago<span></span></span>
                        </span>
                    </li>
                    <li>
                        <i class="zmdi zmdi-email"></i> <span>
                            <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                        </span>
                    </li>
                </ul>
            </section>
        </div>
    </div>
    <div class="card__content">
        <section class="list list--md ">
            <div class="list__title">Account Details</div>
            <ul>
                <li><span>{{ user.fullname }}</span></li>
                <li><span>Marshall Petaluma Road 36/14</span></li>
                <li><span>35-303 Marshall</span></li>
                <li><span>USA</span></li>
                <li><span>IBAN: ---</span></li>
            </ul>
        </section>
        <section class="list list--md ">
            <div class="list__title">Settings</div>
            <ul class="datarow">
                <li class="datarow__sgl">
                    <div class="datarow__left">
                        <span class="datarow__status">Language</span>
                    </div>
                    <div class="datarow__right">
                        <span class="datarow__data">
                            <strong>English</strong>
                        </span>
                    </div>
                </li>
                <li class="datarow__sgl">
                    <div class="datarow__left">
                        <span class="datarow__status">Group</span>
                    </div>
                    <div class="datarow__right">
                        {% set roles=user.roles %}
                        {% for role in roles %}
                            <span class="datarow__data">
                                <strong>{{ role.full_name|str_humanize|raw }}</strong>
                            </span>
                        {% endfor %}

                    </div>
                </li> 
                {% if user.hasCustomfield('url') %}                    
                    <li class="datarow__sgl">
                        <div class="datarow__left">
                            <span class="datarow__status">Url:</span>
                        </div>
                        <div class="datarow__right">
                            <span class="datarow__data">
                                <strong>{{ user.customfield('url')|raw }}</strong>
                            </span>
                        </div>
                    </li> 
                {% endif %}
            </ul>
        </section>
    </div>
</div>                        