{% if response is not empty %}
    {% for message in response %}        
        {% if message.type=='error' %}
            <div class="alert alert--bg alert--glow alert--error alert--sm alert--border mb20">
                <i class="alert__icon zmdi zmdi-alert-circle"></i>            
                <div>
                    <strong>Error code: {{ message.code }} ({{ message.descriptor }})</strong> 
                    {% if message.domain is defined %} - {{ message.domain }}    {% endif %}
                    {{ message.message|raw }} 
                </div>
            </div>
        {% endif %}
        {% if message.type=='success' %}
            <div class="alert alert--bg alert--glow alert--success alert--sm alert--border mb20">
                <i class="alert__icon zmdi zmdi-check-circle"></i>         
                {{ message.message|raw }}                
            </div>
        {% endif %}
        {% if message.type=='warning' %}
            <div class="alert alert--bg alert--glow alert--warning alert--sm alert--border mb20">
                <i class="alert__icon zmdi zmdi-alert-circle-o"></i>
                {{ message.message|raw }}
            </div>
        {% endif %}
        {% if message.type=='info' %}
            <div class="alert alert--bg alert--glow alert--info alert--sm alert--border mb20">
                <i class="alert__icon zmdi zmdi-alert-triangle"></i>
                {{ message.message|raw }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}    
