{% extends "antares/foundation::layouts.installer.main" %}
{% block left_panel_content %}        
    {{ parent() }}
    {% include 'antares/installer::partials._menu' with {'active': 1} %}    
{% endblock %}
{% block content %}       
    {% set databaseSettings=checklist|array_only(['databaseConnection', 'mysqlDumpCommand']) %}   
    {% set checklist=unset(checklist,['databaseConnection','mysqlDumpCommand']) %}   
    {% set formbuilder=app('form') %}
    {{ formbuilder.open({'url':handles('antares::install/prepare'), 'method':'GET','class':'form--hor'})|raw }}
    {% if token is not null %}
        {{ formbuilder.token()|raw }}
    {% endif %}    
    {% for hidden in hiddens %}
        {{ hidden|raw }}
    {% endfor %}

    <div class="col-group">
        <div class="col-dt-16 col-mb-16"> 
            {% include 'antares/installer::index._requirement' %}
            {% include 'antares/installer::index._database' %}
            <div class="separator"></div>
        </div>
    </div>
    {% if (installable==true) %}        
        <div class="app-content__footer">
            <div class="btn-group">
                <button type="submit" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
                    {{ trans('antares/foundation::label.next') }} <i class="pl8 zmdi zmdi-long-arrow-right"></i>
                </button>
            </div>
        </div>
    {% endif %}
    {{ formbuilder.close()|raw }}

{% endblock %}
