{% set formbuilder=app('form') %}
{% set htmlbuilder=app('html') %}
{{ formbuilder.open(form|merge({'class':form.class}))|raw }}
{% if token is not null %}
    {{ formbuilder.token()|raw }}
{% endif %}    
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}
<div class="col-group">
    {% set submits = [] %}
    {% for fieldset in fieldsets %}
        {% for control in fieldset.controls() %}                
            {% if control.type=='button' %}
                {% set submits=submits|merge([control]) %}        
            {% else %}   
                {% include 'antares/foundation::layouts.antares.partials.form._'~control.type|replace({':': '_'}) with {control: control} %}
            {% endif %}
        {%endfor %}
    {%endfor %}
</div> 
<div class="form-group">
    <button type="submit" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
        {{ submit|raw }}
    </button>
</div>
{{ formbuilder.close()|raw }}