<div class="panel panel-body">
    <div class="jumbotron {{ license.RESULT!='OK'?'bg-danger':'bg-success' }}">
        <h2>
            {{ trans('License status') }}: {{ trans(license.RESULT) }}
        </h2>
        {% if license.TYPE is not empty %}
            <p>
                <strong>{{ trans('License type') }}: {{ license.TYPE }}</strong>
            </p>    
        {% endif %}
        {% if license.DATE is not empty %}
            <p>
                {{ trans('License expiration date') }}: {{ license.DATE.HUMAN.END }}
            </p>    
        {% endif %}
    </div>
</div>    