<button type='{{ control.getButtonType() }}'
        name='{{ control.getName() }}'
        value='{{ control.getValue() }}' {{ control.getAttributes()|stringify }}
>
    {{ control.getValue() }}
</button>