{% extends "antares/foundation::layouts.antares.index" %}
{% block content %} 
    {{ dataTable.scripts()|raw }}   
    {{ dataTable.tableDeferred()|raw }}
    <div class="delete-logs-modal w400" style="display:none;" data-title="{{ trans('antares/automation::messages.deleting_logs_modal_title') }}">
        <div class="modal__content">
            <div class="col-group">
                <div class="col-16">
                    <form action="{{ handles('antares::automation/logs/delete') }}" method="POST" >
                        <div class="form-block">
                            <label class="form-block__name">
                                {{ trans('antares/automation::messages.select_range_to_delete_logs') }}
                            </label>
                            <div class="input-field">
                                <input class="daterangepicker-delete-logs"  placeholder="Placeholder" name="daterange" required>
                            </div>
                        </div>
                        <div class="form-block">
                            <div class="btn-group">
                                <a href="#" class="btn btn--md btn--default mdl-button mdl-js-button mdl-js-ripple-effect mdl-close-modal" >
                                    {{ trans('antares/automation::messages.delete_logs_cancel') }}
                                </a>
                                <a data-title="{{ trans('antares/automation::messages.delete_logs_ask') }}" href="#" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect logs-confirm-delete" disabled="disabled">
                                    {{ trans('antares/automation::messages.delete_logs_delete') }}
                                </a>                            
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}