<div class="card card--padding24">
    <div class="card__header">
        <div class="card__header--top">
            <span>{{ trans('antares/licensing::global.License error') }}</span>            
        </div>                               
    </div>
    <div class="card__content">                               
        <div>
            <div class="alert alert--md alert--glow alert--error alert--sm alert--border mb20">
                <i class="alert__icon zmdi zmdi-alert-circle"></i> 
                {{ trans('antares/licensing::global.'~data.RESULT) }}
            </div>
            <div class="alert alert--md alert--glow alert--info alert--sm alert--border mb20">
                <i class="alert__icon zmdi zmdi-alert-triangle"></i>

            </div>
            {% if data.ID is empty %}
                <div class="alert alert--md alert--glow alert--error alert--sm alert--border mb20">
                    <i class="alert__icon zmdi zmdi-alert-circle"></i> 
                    {{ trans('Cannot read license file.') }}        
                </div>
            {% endif %} 
        </div>
    </div>
</div>       
{% if data.ID %}
    <div class="card card--padding24">
        <div class="card__header">
            <div class="card__header--top">
                <span>{{ trans('License details') }}</span>            
            </div>                               
        </div>
        <div class="card__content">                               
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <tbody>
                    <tr>
                        <td>{{ trans('License ID') }}:</td>
                        <td>{{ data.ID }}</td>
                    </tr>
                    <tr>
                        <td>{{ trans('License domain') }}:</td>
                        <td>{{ data.SERVER.DOMAIN }}</td>
                    </tr>
                    <tr>
                        <td>{{ trans('License Start Date') }}:</td>
                        <td>{{ data.DATE.HUMAN.START }}</td>
                    </tr>
                    <tr>
                        <td>{{ trans('License End Date') }}:</td>
                        <td>{{ data.DATE.HUMAN.END }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>     
{% endif %} 