<li class="ddown__sgl ddown__sgl--range" style="padding-top: 20px;">    
    <div class="form-block mb1">
        <div class="input-field">        
            <input id="daterangepicker_{{ random(5)|raw}}" data-start="{{ start|raw }}" data-end="{{ end|raw }}" class="daterangepicker-filter" placeholder="{{ trans('antares/automation::messages.select_date_range') }}" name="daterange" required="required" />
        </div>
    </div>
    <a href="#" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect add-daterange-button" >
        {{ trans('antares/automation::messages.confirm') }}
    </a>
</li>
