<ul class="sandbox-queue hidden">
    <li desc="{{ trans('checking requirements...') }}" href="{{ handles('antares::updater/sandbox/requirements',{'csrf':true}) }}"></li>
    <li desc="{{ trans('create application backup...') }}" href="{{ handles('antares::updater/sandbox/backup',{'csrf':true}) }}"></li>
    <li desc="{{ trans('create database instance...') }}" href="{{ handles('antares::updater/sandbox/database',{'csrf':true}) }}"></li>
    <li desc="{{ trans('migrating system files...') }}" href="{{ handles('antares::updater/sandbox/migration',{'csrf':true}) }}"></li>
    <li desc="{{ trans('preparing to update...') }}" href="{{ handles('antares::updater/sandbox/ending',{'csrf':true}) }}"></li>
    <li desc="{{ trans('updating to version') }} {{ data.version }}..." href="{{ url }}"></li>
    <li desc="{{ trans('opening sandbox mode...') }}" href="{{ handles('antares::updater/sandbox/open',{'csrf':true}) }}"></li>
</ul>
<ul class="sandbox-rollback-queue hidden">
    <li desc="{{ trans('rollback...') }}" href="{{ handles('antares::updater/sandbox/rollback',{'csrf':true}) }}"></li>
</ul>
<div id="SandBox-Modal" title="{{ trans('create new sandbox instance') }}..." style="display:none;">
    {{ trans('it may take a while, please be patient') }}...
    <div class="update-container"></div>
</div>