{{ Form.open(form)|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}    
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}    
{% set control=fieldsets[0].field('url') %}        
{{ control.getField(row, control, [])|raw }} 
{% set submits = [] %}
<fieldset>

    {% set control=fieldsets[0].field('type') %} 
    <div class="col-dt-3 col-3 col-mb-3 no-padding">
        <div class="input-field">
            {{ control.getField(row, control, [])|raw }} 
        </div>
        {% if errors.has(control.name) %}
            <span class="input-field__icon">
                <i class="zmdi zmdi-close"></i>
            </span>
            <div id="{{ control.id }}_error" class="error">
                {{ errors.first(control.name, format)|raw }}
            </div>
        {% endif %}
    </div>
    {% set control=fieldsets[0].field('notifications') %}        
    <div class="col-dt-13 col-13 col-mb-13">
        <div class="input-field">
            {{ control.getField(row, control, [])|raw }} 
        </div>
        {% if errors.has(control.name) %}
            <span class="input-field__icon">
                <i class="zmdi zmdi-close"></i>
            </span>
            <div id="{{ control.id }}_error" class="error">
                {{ errors.first(control.name, format)|raw }}
            </div>
        {% endif %}
    </div>
</fieldset>
{% if fieldsets[0].types('button') is not empty %}
    <div class="col-group">
        <div class="col-dt-14 col-13 col-mb-11">
            <div class="separator-medium"></div>
            {% for button in fieldsets[0].types('button') %}    
                {{ button.getField(row, button, [])|raw }}
            {% endfor %}
        </div>
    </div>
{% endif %}  
{{ Form.close()|raw }}


