<fieldset name="inputs" class="database-settings">
    <legend>{{ trans('antares/foundation::install.database.title') }}</legend>
    <div class="col-group">
        <div class="form-block form-box ai-c">
            <div class="col-dt-3 col-3 col-mb-3">
                <div class="form-block">
                    <div class="col-dt-12 col-11 col-mb-11">
                        <label class="form-block__name">
                            {{ trans('antares/foundation::install.database.type') }}
                        </label>
                    </div>
                    <div class="col-dt-4 col-2 col-mb-2">
                        <div class="input-field ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-dt-13 col-13 col-mb-13">
                <div class="form-block  form-block-desc">
                    <div class="col-dt-16 col-16 col-mb-16">
                        <div class="input-field__desc">
                            <input disabled  type="text" value="{{ database['driver'] }}" class="w370">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if database['host'] is defined %}
            <div class="form-block form-box ai-c">
                <div class="col-dt-3 col-3 col-mb-3">
                    <div class="form-block">
                        <div class="col-dt-12 col-11 col-mb-11">
                            <label class="form-block__name">
                                {{ trans('antares/foundation::install.database.host') }}
                            </label>
                        </div>
                        <div class="col-dt-4 col-2 col-mb-2">
                            <div class="input-field ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-dt-13 col-13 col-mb-13">
                    <div class="form-block  form-block-desc">
                        <div class="col-dt-16 col-16 col-mb-16">
                            <div class="input-field__desc">
                                <input disabled type="text" value="{{ database['host'] }}" class="w370">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="form-block form-box ai-c">
            <div class="col-dt-3 col-3 col-mb-3">
                <div class="form-block">
                    <div class="col-dt-12 col-11 col-mb-11">
                        <label  class="form-block__name">
                            {{ trans('antares/foundation::install.database.name') }}
                        </label>
                    </div>
                    <div class="col-dt-4 col-2 col-mb-2">
                        <div class="input-field ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-dt-13 col-13 col-mb-13">
                <div class="form-block  form-block-desc">
                    <div class="col-dt-16 col-16 col-mb-16">
                        <div class="input-field__desc">
                            <input disabled type="text" value="{{ database['database'] }}" class="w370">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-block form-box">
            <div class="col-dt-3 col-3 col-mb-3">
                <div class="form-block">
                    <div class="col-dt-12 col-11 col-mb-11">
                        <label class="form-block__name">
                            {{ trans('antares/foundation::install.connection.status') }}
                        </label>
                    </div>
                    <div class="col-dt-4 col-2 col-mb-2">
                        <div class="input-field ">
                            <i class="alert__icon zmdi {{ not databaseSettings.databaseConnection['is']==true ? 'zmdi-close':'zmdi-check' }}"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-dt-13 col-13 col-mb-13">
                <div class="form-block  form-block-desc">
                    <div class="col-dt-16 col-16 col-mb-16">
                        <div class="input-field__desc">
                            {% if databaseSettings.databaseConnection['is']==true %}  
                                <p>                                
                                    {{ trans('antares/foundation::install.connection.success') }}
                                </p>
                            {% else %}                
                                <div class="alert alert--sm alert--glow  alert--sm ">
                                    <p>
                                        {{ trans('antares/foundation::install.connection.fail') }}
                                        {% if databaseSettings.databaseConnection['data']['error'] is defined %} 
                                            <span>Error:</span>{{ databaseSettings.databaseConnection['data']['error']}}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-block form-box">
            <div class="col-dt-3 col-3 col-mb-3">
                <div class="form-block">
                    <div class="col-dt-12 col-11 col-mb-11">
                        <label class="form-block__name">
                            {{ trans('antares/foundation::install.mysqlDumpCommand.status')}}
                        </label>
                    </div>
                    <div class="col-dt-4 col-2 col-mb-2">
                        <div class="input-field ">
                            <i class="alert__icon zmdi {{ not databaseSettings.mysqlDumpCommand['is']==true ? 'zmdi-close':'zmdi-check' }}"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-dt-13 col-13 col-mb-13">
                <div class="form-block  form-block-desc">
                    <div class="col-dt-16 col-16 col-mb-16">
                        <div class="input-field__desc">
                            {% if databaseSettings.mysqlDumpCommand['is']==true %}  
                                <p>                                
                                    {{ trans('antares/foundation::install.mysqlDumpCommand.success')}}
                                </p>
                            {% else %}                
                                <div class="alert alert--sm alert--glow  alert--sm ">
                                    <p>
                                        {{ trans('antares/foundation::install.mysqlDumpCommand.fail')}}                   
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</fieldset>