<div class="analyzer-report">    
    <div id="header">
        <h1>{{ trans('System Changes') }}</h1>        
    </div>
    <div  class="col-primary">
        <div class="infoTable">
            <h2>{{ trans('Changed Files') }}</h2>
            <table class="table table-striped table-bordered"> 
                <tbody>             
                    <tr> 
                        <th>{{ trans('Name') }}</th> 
                        <th>{{ trans('Checksum') }}</th> 
                    </tr> 
                    {% if updates is not empty %}                    
                        {% if updates|length>20 %}
                            <tr> 
                                <td>{{ trans('antares/logger::messages.report_updated_files_count',{'count':updates|length}) }}</td> 
                            </tr>
                        {% else %}
                            {% for file,checksum in updates %}                
                                <tr> 
                                    <td>{{ file }}</td> 
                                    <td>{{ checksum }}</td> 
                                </tr>
                            {% endfor %}    
                        {% endif %}
                    {% else %}
                        <tr> 
                            <td colspan="2">{{ trans('Changed files has not been found') }}</td> 
                        </tr>
                    {% endif %}    
                </tbody>
            </table>
        </div>        
        <div class="infoTable">
            <h2>{{ trans('New Files') }}</h2>
            <table class="table table-striped table-bordered"> 
                <tbody>          
                    <tr> 
                        <th>{{ trans('Name') }}</th>
                    </tr>                     
                    {% if inserts is not empty %}                    
                        {% if inserts|length>20 %}
                            <tr> 
                                <td>{{ trans('antares/logger::messages.report_new_files_count',{'count':inserts|length}) }}</td> 
                            </tr>
                        {% else %}
                            {% for checksum in inserts %}                
                                <tr> 
                                    <td>{{ checksum }}</td> 
                                </tr>
                            {% endfor %}    
                        {% endif %}
                    {%else %}
                        <tr> 
                            <td>{{ trans('New files has not been found') }}</td> 
                        </tr>
                    {% endif %}    
                </tbody>
            </table>
        </div>
        <div class="infoTable">
            <h2>{{ trans('Deleted Files') }}</h2>
            <table class="table table-striped table-bordered"> 
                <tbody>  
                    <tr> 
                        <th>{{ trans('Name') }}</th>
                    </tr> 
                    {% if deletes is not empty %}                    
                        {% if deletes|length>20 %}
                            <tr> 
                                <td>{{ trans('antares/logger::messages.report_deleted_files_count',{'count':deletes|length}) }}</td> 
                            </tr>
                        {% else %}
                            {% for checksum in deletes %}                
                                <tr> 
                                    <td>{{ checksum }}</td> 
                                </tr>
                            {% endfor %}    
                        {%endif %}
                    {% else %}
                        <tr> 
                            <td>{{ trans('No files has been deleted') }}</td> 
                        </tr>
                    {% endif %}    
                </tbody>
            </table>
        </div>
    </div>
    {% include 'antares/logger::admin.analyze.partials._validation' with {'messages': messages} %}                
</div>

