<div class="analyzer-report">
    <div id="header">
        <h1>{{ trans('Database configuration') }}</h1>        
    </div>
    <div class="{{ messages is defined and messages is not empty ? 'col-primary':'' }}">
        <div class="infoTable">
            <h2>{{ trans('Table list') }}</h2>
            <table class="table table-striped table-bordered"> 
                <tbody> 
                    <tr> 
                        <th>{{ trans('Name') }}</th> 
                        <th>{{ trans('Number of Rows') }}</th> 
                        <th>{{ trans('Create Date') }}</th>
                        <th>{{ trans('Collation') }}</th>
                        <th>{{ trans('Size') }}</th>
                    </tr>
                    {% for table in tables %}                
                        <tr> 
                            <td>{{ table['name'] }}</td> 
                            <td>{{ table['rows'] }}</td> 
                            <td>{{ table['create_time'] }}</td> 
                            <td>{{ table['collation'] }}</td> 
                            <td>{{ table['size'] }}</td> 
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>    
        <div class="infoTable">
            <h2>{{ trans('Views list') }}</h2>
            <table class="table table-striped table-bordered"> 
                <tbody>
                    <tr> 
                        <th>{{ trans('Name') }}</th>
                    </tr> 
                    {% if views is empty %}
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-info" role="alert">
                                    {{  trans('No database views found') }}                         
                                </div>
                            </td>
                        </tr>
                    {% else %}    
                        {% for view in views %}                
                            <tr> 
                                <td>{{ view['name'] }}</td>
                            </tr>
                        {% endfor %}    
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>    
    {% include 'antares/logger::admin.analyze.partials._validation' with {'messages': messages} %}  
</div>