<div class="analyzer-report">
    <div id="header">
        <h1>{{ trans('Logs Summary') }}</h1>        
    </div>
    <div class="{{ messages is defined and messages is not empty ? 'col-primary':'' }}">
        <div class="infoTable">
            <h2>{{ trans('Requests Log') }}</h2>
            <table class="table table-striped table-bordered">
                <tbody>                
                    <tr> 
                        <th>{{ trans('Total Request Log Files Count') }}</th> 
                        <th>{{ trans('Dispatch Count') }}</th> 
                        <th>{{ trans('Total Requests Count') }}</th> 
                        <th>{{ trans('Last Create Date') }}</th>
                        <th>{{ trans('Last Update Date') }}</th>
                    </tr> 
                    <tr> 
                        <td>{{ requests['total'] }}</td> 
                        <td>{{ requests['size'] }}</td> 
                        <td>{{ requests['requests_count'] }}</td> 
                        <td>{{ requests['last_created_date'] }}</td> 
                        <td>{{ requests['last_updated_date'] }}</td> 
                    </tr>
                </tbody>
            </table>
        </div>            
        <div class="infoTable">
            <h2>{{ trans('Errors Log') }}</h2>
            <table class="table table-striped table-bordered">
                <tbody>                
                    <tr> 
                        {% for key in errors|keys %}
                            <th>{{ key|str_humanize }}</th> 
                            {% endfor %}
                    </tr> 
                    <tr> 
                        {% for key,value in errors %}
                            <td>{{ value }}</td> 
                        {% endfor %} 
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="infoTable">            
            <h1>{{ trans('Activity Log') }}</h1>
            {% for module, values in activity %}        
                <div class="infoTable">            
                    <h2>{{ trans('Module name') }}: {{ module }}</h2>                
                    <table class="table table-striped table-bordered">
                        <tbody>                
                            <tr> 
                                <th>{{ trans('Operation Name') }}</th>                         
                                <th>{{ trans('Dispatch Count') }}</th>                         
                            </tr> 
                            {% for name,count in values %}
                                <tr> 
                                    <td>{{ trans('antares/logger::operations.'~name) }}</td> 
                                    <td>{{ count }}</td> 
                                </tr>
                            {% endfor %} 
                        </tbody>
                    </table>
                </div>
            {% endfor %} 
        </div>
    </div>
    {% include 'antares/logger::admin.analyze.partials._validation' with {'messages': messages} %}  
</div>
