<div class="analyzer-report">
    <div id="header">
        <h1>{{ trans('Server Environment') }}</h1>        
    </div>
    <div class="{{ messages is defined and messages is not empty ? 'col-primary':'' }}">
        <div class="infoTable">
            <h2>{{ trans('PHP version') }}</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>
                        {{ trans('Current PHP Version') }}: {{ version }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="infoTable">
            <h2>{{ trans('Document Root') }}</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>{{ doc_root }}  </td>
                </tr>
            </table>
        </div>
        <div class="infoTable">
            <h2>{{ trans('Registered Stream PHP Transports') }}</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>{{ transports|join(', ') }}  </td>
                </tr>
            </table>
        </div>
        <div class="infoTable">
            <h2>{{ trans('Registered PHP Stream Filters') }}</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>{{ filters|join(', ') }}  </td>
                </tr>
            </table>
        </div>
        <div class="infoTable">
            <h2>{{ trans('Names of all modules compiled and loaded') }}</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>{{ extensions|join(', ') }}  </td>
                </tr>
            </table>
        </div>
        <div class="infoTable">
            <h2>{{ trans('PHP ini configuration') }}</h2>
            <table class="table table-striped table-bordered">
                <thead> 
                    <tr> 
                        <th>{{ trans('Name') }}</th> 
                        <th>{{ trans('Value') }}</th> 
                    </tr> 
                </thead> 
                <tbody>   
                    {% for name, values in ini %}
                        <tr> 
                            <td>{{name|str_humanize}}</td>
                            <td>
                                {% for setting, value in values %}
                                    {{ setting }}: {{value}}
                                {% endfor %}      
                            </td>
                        </tr>
                    {% endfor %}                     
                    </tr>
                </tbody>
            </table>
        </div>  
    </div>
    {% include 'antares/logger::admin.analyze.partials._validation' with {'messages': messages} %}  
</div>