<div class="card card--chart-small card--primary-light">
    <div class="card__header">
        <div class="card__header--top">
            <span>{{ trans('antares/foundation::install.database.title') }}</span>
        </div> 
    </div>
    <div class="card__header-chart" >
        <span class="card__indicator">
            {{ trans('antares/foundation::install.verify', {'filename':'<code title="'~base_path('resources/config/database.php')~'">resources/config/database.php</code>'})|raw }} 
        </span>
    </div>
    <div class="card__content"> 
        <div class="form-block">
            <label>{{ trans('antares/foundation::install.database.type') }}</label>
            <input disabled  type="text" value="{{ database['driver'] }}" class="w370">
        </div>
        {% if database['host'] is defined %}
            <div class="form-block">
                <label>{{ trans('antares/foundation::install.database.host') }}</label>
                <input disabled type="text" value="{{ database['host'] }}" class="w370">
            </div>
        {% endif %}
        <div class="form-block">
            <label>{{ trans('antares/foundation::install.database.name') }}</label>
            <input disabled type="text" value="{{ database['database'] }}" class="w370">
        </div>
        <div class="form-block">
            <label>{{ trans('antares/foundation::install.connection.status') }}</label>
            {% if databaseSettings.databaseConnection['is']==true %}  
                <div class="alert alert--sm alert--glow alert--success alert--sm alert--border mb20">
                    <i class="alert__icon zmdi zmdi-check-circle"></i>
                    <div>
                        {{ trans('antares/foundation::install.connection.success') }}
                    </div>
                </div>
            {% else %}                
                <div class="alert alert--sm alert--glow alert--error alert--sm alert--border mb20">
                    <i class="alert__icon zmdi zmdi-alert-circle-o"></i>
                    <div>
                        {{ trans('antares/foundation::install.connection.fail') }}
                        {% if databaseSettings.databaseConnection['data']['error'] is defined %} 
                            <p>
                                <strong>Error:</strong> {{ databaseSettings.databaseConnection['data']['error']}}
                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="form-block">
            <label>{{ trans('antares/foundation::install.mysqlDumpCommand.status')}}</label>
            {% if databaseSettings.mysqlDumpCommand['is']==true %}  
                <div class="alert alert--sm alert--glow alert--success alert--sm alert--border mb20">
                    <i class="alert__icon zmdi zmdi-check-circle"></i>
                    <div>
                        {{ trans('antares/foundation::install.mysqlDumpCommand.success')}}
                    </div>
                </div>
            {% else %}
                <div class="alert alert--sm alert--glow alert--error alert--sm alert--border mb20">
                    <i class="alert__icon zmdi zmdi-alert-circle-o"></i>
                    <div>
                        {{ trans('antares/foundation::install.mysqlDumpCommand.fail')}}                   
                    </div>
                </div>
            {% endif %}            
        </div>
    </div>
</div>
