<div class="card card--chart-small card--primary-light">
    <div class="card__header">
        <div class="card__header--top">
            <span>{{ trans('antares/foundation::install.system.title') }}</span>
        </div> 
    </div>
    <div class="card__header-chart" >
        <span class="card__indicator">
            {{ trans('antares/foundation::install.system.description') }} 
        </span>
    </div>
    <div class="card__content"> 
        <table class="mdl-data-table mdl-js-data-table full-width" style="white-space:normal">
            <thead>
                <tr>
                    <th>{{ trans('antares/foundation::install.system.requirement') }}</th>
                    <th>{{ trans('antares/foundation::install.system.status') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for name,requirement in checklist %}
                    <tr>
                        <td>
                            <div class="w250">
                                {{ trans("antares/foundation::install.system."~name~".name")|raw }}
                            </div>                            
                            {% if not requirement['is'] == requirement['should'] %}                        
                                <div class="alert alert--sm alert--glow {{ requirement['explicit']==true ? ' alert--error ' : 'alert--success' }} alert--sm alert--border mb20">
                                    <i class="alert__icon zmdi zmdi-alert-circle"></i>
                                    <div>
                                        <strong>{{ trans("antares/foundation::install.solution") }}:</strong>
                                        {{ trans("antares/foundation::install.system."~name~".solution") }}
                                    </div>
                                </div>
                            {% endif %}                            
                        </td>
                        <td>
                            <div style="text-align: left">
                                {% if requirement['is'] == requirement['should'] %}                                                                                 
                                    <div class="alert alert--sm alert--glow alert--success alert--sm alert--border mb20">
                                        <i class="alert__icon zmdi zmdi-check-circle"></i>                                        
                                        <div>
                                            {% if name=='version' %}
                                                {{ requirement['data']['version'] }}
                                            {% elseif name == 'phpExtensions' %}                                                 
                                                <p>
                                                    {{ trans('Following php extensions are installed') }}:
                                                    <br/>
                                                    {{ requirement['data']['extensions']|join(', ')|raw }}   
                                                </p>
                                            {% elseif name=='apacheModules' %}
                                                <p>
                                                    {{ trans('Following apache modules are installed') }}:
                                                    <br/>
                                                    {{ requirement['data']['modules']|join(', ')|raw }}                                        
                                                </p>
                                            {% else %}
                                                {{ trans('antares/foundation::install.status.work')|raw }}        
                                            {% endif %}
                                        </div>
                                    </div>
                                {% else %}
                                    {% if requirement['explicit']==true %}
                                        <div class="alert alert--sm alert--glow alert-danger alert--sm alert--border mb20">
                                            <i class="alert__icon zmdi zmdi-alert-circle-o"></i>
                                            <div>
                                                {% if name=='version' %}
                                                    {{ requirement['data']['error'] }}         
                                                {% elseif name == 'phpExtensions' %}                                                 
                                                    {{ requirement['data']['error'] }}         
                                                {% elseif name=='apacheModules' %}
                                                    {{ requirement['data']['error'] }}         
                                                {% else %}
                                                    {{ trans('antares/foundation::install.status.not') }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="alert alert--sm alert--glow alert-warning alert--sm alert--border mb20">
                                            <i class="alert__icon zmdi zmdi-alert-circle-o"></i>
                                            <div>
                                                {% if name=='version' %}
                                                    {{ requirement['data']['error'] }}         
                                                {% elseif name == 'phpExtensions' %}                                                 
                                                    {{ requirement['data']['error'] }}         
                                                {% elseif name=='apacheModules' %}
                                                    {{ requirement['data']['error'] }}         
                                                {% else %}
                                                    {{ trans('antares/foundation::install.status.not') }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
