{% set menu=app('antares.widget').make('menu.logger.pane') %}
<div class="menu-aside-container">    
    <ul class="menu-aside">
        {% for item in menu %}

            <li class="{{ item.isActive() ? 'is-active' : '' }} {{ item.childs is not empty ? 'has-submenu':'' }} {{ item.isActiveChild()?'submenu-open' }}">
                <a href="{{ item.link }}" class="mdl-js-button mdl-js-ripple-effect"  data-upgraded=",MaterialButton,MaterialRipple">
                    <i class="zmdi {{ item.icon }}"></i>
                    <span>{{ item.title }}</span>
                    <span class="mdl-button__ripple-container">
                        <span class="mdl-ripple"></span>
                    </span>
                </a>
                {% if item.childs is not empty  %}
                    <ul class="menu-aside__submenu">
                        {% for child in item.childs %}
                            <li {{ child.isActive()?'class="is-active"':'' }}>
                                <a href="{{ child.link}}" class="mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">
                                    {% if child.icon %}
                                        <i class="zmdi {{ child.icon|raw }}"></i>
                                    {% endif %}                                    
                                    {% if child.prepend|length>1 %}
                                        {{ child.prepend|raw }}
                                    {% endif %}                                    
                                    <span>{{ child.title|raw}}</span>
                                    <span class="mdl-button__ripple-container">
                                        <span class="mdl-ripple"></span>                                            
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>