<div class="card card--chart-small card--primary-light">
    <div class="card__header">
        <div class="card__header--top">
            <span>License</span>
        </div> 
    </div>
    <div class="card__header-chart" >
        <span class="card__indicator">
            Please fill below form using the license key and certification file
        </span>
    </div>
    <div class="card__content"> 
        {% set formbuilder=app('form') %}
        {{ formbuilder.open(form|merge({'class':'form-horizontal','role':'form'}))|raw }}
        {% if token is not null %}
            {{ formbuilder.token()|raw }}
        {% endif %}    
        {% for hidden in hiddens %}
            {{ hidden|raw }}
        {% endfor %}
        <fieldset name="inputs">
            <legend></legend>
            <div class="col-group">
                <div class="form-block">
                    <div class="col-16">
                        {% set control=fieldsets[0].field('license_key') %}
                        {{ Form.label(control.name, control.label)|raw }}    
                    </div>
                    <div class="col-16">
                        <div class="input-field">
                            {{ control.getField(row, control, [])|raw }}
                        </div>
                        <div id="{{ control.id }}_error" class="error col-dt-14 col-13 col-mb-11">
                            {{ errors.first(control.name, format)|raw }}
                        </div>
                        {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}
                    </div>
                </div>
            </div>
            <div class="col-group">
                <div class="form-block">
                    <div class="col-16">
                        {% set control=fieldsets[0].field('license_file') %}
                        {{ Form.label(control.name, control.label)|raw }}    
                    </div>
                    <div class="col-16">
                        <div class="input-field">
                            <label class="file-upload" for="input-upload">                                
                                <a class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect mr16">Select File</a>
                                <input type="text" placeholder="File path" class="disabled file-path" disabled="disabled">
                                {{ control.getField(row, control, [])|raw }}
                            </label>
                        </div>
                        <div id="{{ control.id }}_error" class="error col-dt-14 col-13 col-mb-11 ">
                            {{ errors.first(control.name, format)|raw }}
                        </div>
                        {% include 'antares/foundation::layouts.antares.partials.form.vertical._description' %}
                    </div>
                </div>
            </div>
        </fieldset> 
    </div>            
    <div class="app-content__footer">
        <div class="btn-group">
            <button type="submit" class="btn btn--md btn--primary mdl-button mdl-js-button mdl-js-ripple-effect">
                {{ submit|raw }} <i class="pl8 zmdi zmdi-long-arrow-right"></i>
            </button>
        </div>
    </div>
    {{ formbuilder.close()|raw }}
</div>

