<ul class="menu-aside menu-aside--steps">
    <li class="{{ active==1?'is-active':'' }} {{ active>1?'is-complete':'' }} ">
        <a href="#" class="lmdl-js-button mdl-js-ripple-effect">
            <span class="step-indicator"><span>1</span></span><span>{{ trans('antares/foundation::install.steps.requirement') }}</span>
        </a>
    </li>
    <li class="{{ active==2?'is-active':'' }} {{ active>2?'is-complete':'' }}">
        <a href="#" class="mdl-js-button mdl-js-ripple-effect">
            <span class="step-indicator"><span>2</span></span><span>{{ trans('antares/foundation::install.steps.account') }}</span>
        </a>
    </li>
    <li class="{{ active==3?'is-active':'' }} {{ active>3?'is-complete':'' }}">
        <a href="#" class="mdl-js-button mdl-js-ripple-effect">
            <span class="step-indicator"><span>3</span></span><span>{{ trans('antares/foundation::install.steps.install') }}</span>
        </a>
    </li>
    <li class="{{ active==4?'is-active':'' }} {{ active>4?'is-complete':'' }}">
        <a href="#" class="mdl-js-button mdl-js-ripple-effect">
            <span class="step-indicator"><span>4</span></span><span>{{ trans('antares/foundation::install.steps.done') }}</span>
        </a>
    </li>
</ul>